<header>
    <script type='text/javascript'>
        var useFromServer =<%-JSON.stringify(header)%>
    </script>

    <div class="navbar navbar-inverse set-radius-zero">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">

                    <img src="images/logo.png"/>
                </a>

            </div>

            <div class="right-div">
                <a href="logout" class="btn btn-danger pull-right">ВЫХОД</a>
            </div>
        </div>
    </div>
    <section class="menu-section">
        <div class="container">
            <div class="row ">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse">
                        <ul id="menu-top" class="nav navbar-nav navbar-right"></ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="/dist/headerMenu.js"></script>
</header>

<!--                            <li><a href="/" class="menu-top-active">ГЛАВНАЯ</a></li>
                            <li><a href="/statistics">АНАЛИЗ ИПБ</a></li>
                            <li><a href="/statistics">УПРАВЛЕНИЕ СОБЫТИЯМИ</a></li>
                            <li><a href="/setting_events">СЕТЕВЫЕ ВЗАИМОДЕЙСТВИЯ</a></li>

                            <li><a href="form.html">ИНСТРУМЕНТЫ</a></li>
                            <li>
                                <a href="#" class="dropdown-toggle" id="ddlmenuItem" data-toggle="dropdown">НАСТРОЙКИ <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="ddlmenuItem">
                                    <% 
                                    for(var item in header.menuSettings){ %>
                                    <li><a href="<%= item %>"><%= header.menuSettings[item] %></a></li>
                                    <% } %>
                                </ul>
                            </li> -->