<header>
    <script>
        var resivedFromServer = <%- JSON.stringify(header) %>
    </script>

    <div class="navbar navbar-inverse set-radius-zero">
        <div id="location-alerts"></div>
    </div>
    <section class="menu-section">
        <div class="container">
            <div class="row ">
                <div class="col-md-12" id="menu-top"></div>
            </div>
        </div>
    </section>

    <script src="/dist/headerMenu.js"></script>
    <script src="/dist/drawingAlertsMessage.js"></script>
</header>