/*
* Custom css style
**/

.my_circle_red {
    width: 8px;
    height: 8px;
    background: #C78888;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.my_circle_green {
    width: 8px;
    height: 8px;
    background: #9FD783;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.clickable_icon {
    /*    float: right; */
    /*    font-size: 1.5rem; */
    /*    font-weight: 700; */
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.clickable_icon:hover {
    color: #000;
    text-decoration: none;
}

.clickable_icon:not(:disabled):not(.disabled):hover,
.clickable_icon:not(:disabled):not(.disabled):focus {
    opacity: .75;
}

.clicabe_cursor {
    cursor: pointer;
}

.my_line_spacing {
    line-height: 100%;
}