<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <% include ../head.ejs %>

    <script>

    </script>
    <% include ../header.ejs %>
</head>
<body>
    <section id="container" >
        <div class="content-wrapper">
            <div class="container">
                    <h4 class="text-uppercase" style="margin-left: 10px; margin-right: 10px; padding-top: 10px;">
                        Анализ информационный пакетов безопасности
                    </h4>
                <div class="col-md-12 text-center" id="main-page-content"></div>
            </div>
        </div>
        <% include ../footer.ejs %>
    </section>
</body>

<script src="/dist/managingAnalusisMainHeader.js"></script>
</html>