<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <% include ../head.ejs %>

    <script>

    </script>
</head>
<body>
    <section id="container" >
        <% include ../header.ejs %>

        <!--начало основного контента-->
        <div class="content-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <h4 class="text-uppercase" style="margin-left: 10px; margin-right: 10px; padding-top: 10px;">
                        Сетевые взаимодействия с удаленным источником
                        </h4>
                    </div>
                </div>
                <div class="col-md-12 text-center" id="field_information"></div>
            </div>
        </div>
        <% include ../footer.ejs %>
    </section>
</body>
</html>