<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

<head>
    <% include ../../head.ejs %>
        <script>
            var receivedFromServer = <%- JSON.stringify(listItems) %>
        </script>
        <% include ../../header.ejs %>
</head>

<body>
    <section id="container">
        <div class="content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 text-center" id="header-page-content"></div>
                </div>
                <div class="row">
                    <div class="col-md-2" id="header-page-vertical_menu"></div>
                    <div class="col-md-10 panel-body widget-main text-center mt-3" id="main-page-content"></div>
                </div>
            </div>
        </div>
        <% include ../../footer.ejs %>
    </section>
</body>

<script src="/dist/createVerticalMenuItems.js"></script>
<script src="/dist/networkInteractionMainHeader.js"></script>
<script src="/dist/networkInteractionPageTemplateLog.js"></script>

</html>