<div class="modal fade" id="modalAddEditHosts" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-show="data">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- заголовок -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Новый источник</h4>
            </div>
            <!-- Основная часть модального окна, содержащая форму для регистрации -->
            <div class="modal-body">
                <!-- основной контент -->
                <form role="form" class="form-horizontal">
                    <!-- цифровой идентификатор хоста -->
                    <div class="form-group has-feedback">
                        <label for="hostId" class="control-label col-sm-6 col-md-6 col-lg-6">Цифровой идентификатор источника:</label>
                        <div class="col-sm-5 col-md-5 col-lg-5">
                            <div>
                                <input type="text" class="form-control input-xs" name="hostId">
                            </div>
                            <span class="glyphicon form-control-feedback"></span>
                        </div>
                    </div>
                    <!-- краткое название хоста -->
                    <div class="form-group has-feedback">
                        <label for="shortNameHost" class="control-label col-sm-6 col-md-6 col-lg-6">Краткое название источника:</label>
                        <div class="col-sm-5 col-md-5 col-lg-5">
                            <div>
                                <input type="text" class="form-control input-xs" name="shortNameHost">
                            </div>
                            <span class="glyphicon form-control-feedback"></span>
                        </div>
                    </div>
                    <!-- полное описание хоста -->
                    <div class="form-group has-feedback">
                        <label for="fullNameHost" class="control-label col-sm-6 col-md-6 col-lg-6">Полное описание источника:</label>
                        <div class="col-sm-5 col-md-5 col-lg-5">
                            <div>
                                <input type="text" class="form-control input-xs" name="fullNameHost">
                            </div>
                            <span class="glyphicon form-control-feedback"></span>
                        </div>
                    </div>
                    <!-- Интервал приема информации в секундах (должен совпадать с интервалом указанном в конфигурационном файле источника) -->
                    <div class="form-group has-feedback">
                        <label for="intervalReceiving" class="control-label col-sm-6 col-md-6 col-lg-6">Интервал приема информации в секундах:</label>
                        <div class="col-sm-5 col-md-5 col-lg-5">
                            <div>
                                <input type="text" class="form-control input-xs" name="intervalReceiving">
                            </div>
                            <span class="glyphicon form-control-feedback"></span>
                        </div>
                    </div>
                    <!-- IP-адрес хоста -->
                    <div class="form-group has-feedback">
                        <label for="ipaddress" class="control-label col-sm-6 col-md-6 col-lg-6">IP-адрес источника:</label>
                        <div class="col-sm-5 col-md-5 col-lg-5">
                            <div>
                                <input type="text" class="form-control input-xs" name="ipaddress">
                            </div>
                            <span class="glyphicon form-control-feedback"></span>
                        </div>
                    </div>
                    <!-- Диапазон адресов или подсетей контролируемого сегмента -->
                    <div class="form-group has-feedback">
                        <label for="segmentRange" class="control-label col-sm-6 col-md-6 col-lg-6">IP-адреса или подсети контролируемого сегмента:</label>
                        <div class="col-sm-5 col-md-5 col-lg-5">
                            <div class="form-group">
                                <input type="text" class="form-control input-xs" id="networkSegmentRange">
                            </div>
                            <span class="glyphicon form-control-feedback"></span>
                        </div>
                    </div>
                </form>
            </div>
            <!--подвал с кнопками  -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary" id="buttonSave">Сохранить</button>
            </div>
        </div>
    </div>
</div>