<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <% include ../../head.ejs %>
    <script>
        var receivedFromServerMain = <%- JSON.stringify(mainInformation) %>
        var receivedFromServerAccess = <%- JSON.stringify(userGroupPermissions) %>
    </script>
    <% include ../../header.ejs %>
</head>
<body>
    <!--начало основного контента-->
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 text-center" id="field_information"></div>
            </div>
        </div>
    </div>
    <% include ../../footer.ejs %>
    <script src="/dist/settingUsersPage.js"></script>
</body>
</html>