<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <% include ../../head.ejs %>
    <script>
       var receivedFromServerMain = <%- JSON.stringify(mainInformation) %>
       var receivedFromServerAccess = <%- JSON.stringify(userPermissions) %>
    </script>
    <% include ../../header.ejs %>
</head>

<body>
    <header>
        <div class="row">
            <div class="col-md-12" id="menu-top"></div>
        </div>
    </header>
    <section id="container">
        <div class="content-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <h6 class="text-uppercase text-center">
                            Правила СОА
                        </h6>
                    </div>
                </div>
                <div class="col-md-12 text-center" id="page-rules-soa"></div>
            </div>
        </div>
        <% include ../../footer.ejs %>
    </section> 
</body>
</html>
<!-- формирование основного раздела страницы -->
<script src="/dist/settingRulesSAOPage.js"></script>
   