<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <% include ../../head.ejs %>
    <script>
       var receivedFromServerMain = <%- JSON.stringify(mainInformation) %>
       var receivedFromServerAccess = <%- JSON.stringify(userPermissions) %>
       var receivedFromServerListFieldActivity = <%- JSON.stringify(listFieldActivity) %>
    </script>
    <% include ../../header.ejs %>
</head>
<body>
    <header>
        <div class="row">
            <div class="col-md-12" id="menu-top"></div>
        </div>
    </header>
    <section id="container">
        <div class="content-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <h6 class="text-uppercase text-center">
                            Управление организациями, подразделениями организации и источниками
                        </h6>
                    </div>
                </div>
                <div class="col-md-12 text-center" id="main-page-content"></div>
            </div>
        </div>
        <section class="footer-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        Система управления событиями информационной безопасности ISEMS-UI, версия 1.1.0 2020
                    </div>
                </div>
            </div>
        </section>
    </section>
</body>

<!-- формирование основного раздела страницы -->
<script src="/dist/settingOrganizationAndSourcesPage.js"></script>
</html>