<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- подключаем дополнительные библиотеки, скрипты, таблицы стилей CSS и расширения -->
    <% include ../../head.ejs %>
    <script>

    </script>
</head>
<body>
<!-- контент страницы -->
<section id="container" >
    <!-- ***************************************************************************************************************
     ОСНОВНОЕ МЕНЮ
    ********************************************************************************************************************-->
    <% include ../../header.ejs %>

    <!-- ***************************************************************************************************************
         ГЛАВНЫЙ КОНТЕНТ
    ******************************************************************************************************************** -->

    <!--начало основного контента-->
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h4 class="text-uppercase" style="margin-left: 10px; margin-right: 10px; padding-top: 10px;">управление репутационными списками</h4>
                </div>
            </div>
            <div class="col-md-12 text-center" id="field_information"></div>
        </section>
    </section>

    <!-- ***************************************************************************************************************
     ПОДВАЛ САЙТА
    ********************************************************************************************************************-->
    <% include ../../footer.ejs %>
</section>
</body>
</html>